.container {
  // background: url("../../assets/caro-bg.jpg");
  // width: 100vw;
  // height: 100vh;
  // background-repeat: no-repeat;
  // background-size: cover;

  display: flex;
  justify-content: center;
  padding: 100px;
}
