.container {
  padding: 30px;
  border-radius: 10px;
  background: #596876db;
  box-shadow: 0px 2px 20px rgba(48, 47, 47, 0.27);
  width: 490px;
  color: white;
  height: fit-content;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
}

.logo {
  margin-bottom: 30px;
  text-align: center;

  .caroLogo {
    width: 150px;
    height: auto;
  }
}

.input {
  height: 45px;
  border-radius: 8px !important;
  // background: #fbf8f8e0 !important;
  margin-bottom: 10px !important;
}

.formItem {
  margin-bottom: 20px !important;
}

.submit {
  text-align: center;
  .button {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background: #0dca9a;
    border: none;
    &:hover,
    &:focus {
      background: #17dfac;
    }
  }
}

.subText {
  margin-top: 25px;
  text-align: center;

  .signUp {
    color: #61b0c4;
    cursor: pointer;
  }
}

.label {
  padding-bottom: 8px;
  color: white;
}

.choseAvatar {
  margin-bottom: 30px;
  .avatarContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 8px;
    .avatarItem {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 10px;
      border: 2px solid;
      box-shadow: 0px 2px 13px rgba(145, 139, 139, 0.65);

      cursor: pointer;
      &:hover {
        border: 2px solid #9152c6;
      }
    }

    .choosed {
      border: 2px solid #9152c6;
    }
  }
}
